
.right-pane {
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-background-image: url('../images/gradient-background.png');
    -fx-background-size: auto;
}

.lef-pane {
    -fx-background-color: #fff;
}